.form-control.shadow-danger:focus {
    border-color: #ff4444;
    box-shadow: 0 0 0 0.2rem rgba(255, 68, 68, .25);
}

.form-control.shadow-success:focus {
    border-color: #00C851;
    box-shadow: 0 0 0 0.2rem rgba(0, 200, 81, .25);
}

/** coleur du message en dessou de la confirmation du mot de passe*/
#message {
    color: #ff4444;
}