table {
    width: 100%;
}

td {
    margin: 25px;
}

.mycustomseparator {
    margin-bottom: 15px !important;
}

.fixedMaxSizeQuestion {
    max-height: 560px !important;
    overflow-y: scroll !important;
}

.containerQuestionnary {
    padding: 15px 15px 15px 15px;
    border-radius: 1px;
    border: 0.5px solid #000;
    z-index: 1;
}

.containerInsideQuestionnary {
    height: 650px !important;
    background-color: #FFFFFF;
    z-index: 2;
}

.upperButtonList {
    margin-bottom: 30px !important;
}

.customMarginSelect {
    margin-top: 10px !important;
}

.pullRight {
    margin-right: 10px;
    float: right;
}

.pullLeft {
    float: left;
}

a#popupAddQuestion {
    margin-top: 10px;
}

.questionInSession {
    padding: 10px 10px 10px 10px;
    background-color: #cafff5;
    border-radius: 5px;
    border: 1px solid black;
}

.questionInDataBase {
    padding: 10px 10px 10px 10px;
    background-color: #bcffc4;
    border-radius: 5px;
    border: 1px solid black;
}

.questionnaryCard {
    padding: 10px 10px 10px 10px;
    background-color: #EEEEEE;
    border-radius: 5px;
    border: 1px solid black;
}

.questionCard {
    padding: 10px 10px 10px 10px;
    background-color: #EFEFEF;
    border-radius: 5px;
    border: 1px solid black;
}

.titleCard {
    padding: 10px 10px 10px 10px;
    background-color: #EEEEEE;
    border-radius: 5px;
    border: 1px solid black;
}

.answerCard {
    background-color: #FBFBFB;
    border-radius: 5px;
    border: 1px solid black;
}

.cannotBeSelected:hover {
    cursor: not-allowed;
}

.cannotBeSelected {
    background-color: #DDDDDD !important;
}

.questionnaryTitle {
    font-size: 1.5em;
}

.questionnaryTitle.extend {
    font-weight: bold;
}

.fixedMaxSize {
    overflow-y: scroll !important;
}

