@keyframes ldio-j7oudfb56o {
    0% {
        transform: translate(12px, 80px) scale(0);
    }
    25% {
        transform: translate(12px, 80px) scale(0);
    }
    50% {
        transform: translate(12px, 80px) scale(1);
    }
    75% {
        transform: translate(80px, 80px) scale(1);
    }
    100% {
        transform: translate(148px, 80px) scale(1);
    }
}

@keyframes ldio-j7oudfb56o-r {
    0% {
        transform: translate(148px, 80px) scale(1);
    }
    100% {
        transform: translate(148px, 80px) scale(0);
    }
}

@keyframes ldio-j7oudfb56o-c {
    0% {
        background: #3e6d8d
    }
    25% {
        background: #c93228
    }
    50% {
        background: #f9aa47
    }
    75% {
        background: #4b9bbe
    }
    100% {
        background: #3e6d8d
    }
}

.ldio-j7oudfb56o div {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(80px, 80px) scale(1);
    background: #3e6d8d;
    animation: ldio-j7oudfb56o 1s infinite cubic-bezier(0, 0.5, 0.5, 1);
}

.ldio-j7oudfb56o div:nth-child(1) {
    background: #4b9bbe;
    transform: translate(148px, 80px) scale(1);
    animation: ldio-j7oudfb56o-r 0.25s infinite cubic-bezier(0, 0.5, 0.5, 1),
    ldio-j7oudfb56o-c 1s infinite step-start;
}

.ldio-j7oudfb56o div:nth-child(2) {
    animation-delay: -0.25s;
    background: #3e6d8d;
}

.ldio-j7oudfb56o div:nth-child(3) {
    animation-delay: -0.5s;
    background: #4b9bbe;
}

.ldio-j7oudfb56o div:nth-child(4) {
    animation-delay: -0.75s;
    background: #f9aa47;
}

.ldio-j7oudfb56o div:nth-child(5) {
    animation-delay: -1s;
    background: #c93228;
}

.loadingio-spinner-ellipsis-6vb3rsze10t {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-j7oudfb56o {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

.ldio-j7oudfb56o div {
    box-sizing: content-box;
}

/* generated by https://loading.io/ */