.questionCard {
    margin-bottom: 60px !important;
    border-bottom: 1px solid #127ba3;
}

.questionType {
    font-style: italic;
    font-size: 20px;
    margin-right: 10px;
    float: right;
}

.questionTitle {
    font-size: 1.25em;
}

.questionnaryTitle {
    font-size: 2.5em;
    margin-bottom: 75px !important;
    border-bottom: 3px solid #127ba3;
}